*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 135vh;
    background: black;

}
h1{
    color: white;
    font-family:serif;
    padding: 10px 20px;
}
#svghome{
    margin: -30px -10px;
}
.home{
    display: inline-flex;
}
p{
    color: white;
    margin: 52px 0px;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.search{
    display: inline-flex;
}
#svgsearch{
    margin: -10px -150px;
}
.text{
    margin: -5px 160px;
    font-family: 'Times New Roman', Times, serif;
}
.explore{
    display: flex;
}
#svgexplore{
 margin: 12px 15px;
}
.exploretext{
    margin: 18px 0px;
}
.reels{
    display: flex;
}
#svgreels{
    margin: 10px 20px;
}
.textreels{
    margin: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
}
.messages{
    display: flex;
}
#svgmessages{
    margin: 10px 10px;
}
.textmessages{
    margin: 21px 0px;
    font-family: 'Times New Roman', Times, serif;
}
.notifications{
    display: flex;
}
#svgnoti{
    margin: 10px 10px;
}
.textnotif{
    margin: 20px 0px;
}
.create{
    display: flex;
}
#svgcreate{
    margin: 10px 10px;
}
.textcreate{
    margin: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
}
.profile{
    display: flex;
}
#svgprof{
    margin: 10px 10px;
}
.textprofile{
    margin: 22px 10px;
}
.threads{
    display: flex;
}
#svgthreads{
    margin: 50px 0px;
}
.texthreads{
    margin: 75px 0px;
}
.three{
    display: flex;
}
#svgmore{
    margin: -45px 10px;
}
.textmore{
   margin: -27px 15px;
}
.content{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    color: white;
    gap: 15px;
}
.circle{
    margin: -900px 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 30px;
    left: 250px;
}
.image{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
img{
    top: -700px;
    left: 590px;
    position: absolute;
    width: 70vh;
    height: 80vh;
}

.instatext{
    color: white;
    margin: -190px 0px;
    position: absolute;
    left: 590px;
}
.uppertext{
    position: relative;
    top: -800px;
    left: -80px;
}
.c{
    color: red;
}
.b{
    color: cornflowerblue;
}